:root {
  --primary-color: #5a2d57;
  --secondary-color: #8e5c88;
}

body {
  font-family: 'Poppins', sans-serif;
}

.btn-primary {
  background-color: var(--primary-color);
  border: none;
}

.btn-outline-primary {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-outline-primary:hover {
  background-color: var(--primary-color);
  color: #fff;
}
